SERVICE_NAME=catalog-service
HTTP_PORT=3000
KAFKA_BROKERS=kafka:9092
KAFKA_CLIENT_ID=catalog-service
KAFKA_CONSUMER_GROUP_ID=catalog-service-demo-group
DEMO_TOPIC=catalog.demo.event.v1
DATABASE_URL=postgresql://catalog:catalog@catalog-postgres:5432/catalog
JWT_ACCESS_SECRET=dev-auth-access-secret
